{% extends 'base.html' %} {% block title %}Welcome{% endblock title %} 

{% block content %}

<div class="row-sm p-sm-5">
    <div class="col-sm-12 p-sm-5">
        <h2> About Me</h2>
        <p>
            I Maroof Ahmed,  undergraduate student at M.H.Saboo Siddik Collage of Engineering, byculla. My main interests are in Web Development, machine learning and i am exciting to learn  data structure & algorithms for problem solving. 
            As an aspiring web developer, I am constantly seeking out new challenges and opportunities to improve my skills and knowledge.
        </p>
    </div>  
</div>


{% endblock content %}